In [16]:
import sqlite3

connect = sqlite3.connect('resourceDB.db')
cur= connect.cursor()
query_name= cur.execute("SELECT name FROM students")

# query= "SELECT name FROM students WHERE total_marks= 100;"
result= cur.fetchall()
print(result)

[('mohamed',), ('ziad',), ('omar',), ('salma',)]

In [14]:
type(query_name)

sqlite3.Cursor

In [18]:
query_name_list = [list(result) for result in results]
query_name_list

[['mohamed'], ['ziad'], ['omar'], ['salma']]

In [19]:
type(query_name_list)

list

In [23]:
import sqlite3

try:
    connect = sqlite3.connect('resourceDB.db')
    cur= connect.cursor()
    query_name= cursor.execute("SELECT name FROM students")
    rows = cursor.fetchall()
    query_name_list = [list(row) for row in rows] #convert sqlite3.cursor into list

    x= "omar"
    if x not in query_name_list:
        print("i can't find the student in the database!")
    else:
        # query = f"SELECT total_marks FROM students WHERE name={slot_value};" #to prevent sql injection
        query= "SELECT tota_marks FROM students WHERE name=?;"
        cursor.execute(query, (x,))
        results = cursor.fetchall()
    if results:
        print(results)
    else:
        print("empty!")
except:
    print(f"unable to retrieve data from database")

unable to retrieve data from database

In [ ]:
import sqlite3

connect = sqlite3.connect('resourceDB.db')
cur= connect.cursor()
query_name= cur.execute("SELECT name FROM students")

# query= "SELECT name FROM students WHERE total_marks= 100;"
result= cur.fetchall()
print(result)